In [2]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
from tensorflow import keras
from tensorflow.keras import layers
import seaborn as sns
import pandas as pd

print(tf.__version__)

2.4.0

In [3]:
dataset_path = "healthcare-dataset-stroke-data.csv"

In [4]:
raw_dataset =  pd.read_csv(dataset_path, nrows=15000,na_values ="?")
dataset =  raw_dataset.copy()
dataset.tail()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [5]:
!echo cleaning the dataset
dataset.isna().sum()
dataset = dataset.dropna()
dataset.tail()

cleaning the dataset

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
5104,14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [6]:
smoking_ststaus = dataset['smoking_status']

In [9]:
smoking_status = dataset.pop('smoking_status')
# {'Unknown', 'formerly smoked', 'never smoked', 'smokes'}

In [10]:
dataset['Unknown'] = (smoking_status == 'Unknown')*1.0
dataset['formerly_smoked'] = (smoking_status == 'formerly smoked')*1.0
dataset['never_smoked'] = (smoking_status == 'never smoked')*1.0
dataset['smokes'] = (smoking_status == 'never smoked')*1.0

In [11]:
dataset.tail()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,stroke,Unknown,formerly_smoked,never_smoked,smokes
5104,14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,0,1.0,0.0,0.0,0.0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,0,0.0,0.0,1.0,1.0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,0,0.0,0.0,1.0,1.0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,0,0.0,1.0,0.0,0.0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,0,1.0,0.0,0.0,0.0